# Server
SERVER_PORT=서버_포트(작선한 값이 초기값)

# Database
POSTGRES_USER=데이터베이스_유저(작성한 초기값)
POSTGRES_PASSWORD=데이터베이스_시크릿(작성한 초기값)
POSTGRES_DB=데이터베이스_디비(작성한 값이 초기값)

# Redis
REDIS_HOST=레디스_호스트(로컬)
REDIS_PORT=래디스_포트(레디스_기본포트)